/**
 * Copyright © Magento, Inc. All rights reserved.
 *
 * @author    Hibrido -2023  
*/

//
//  Common
//  _____________________________________________

.cms-home {
    .page-wrapper {
        .block-grid {
            margin-top: 20px;

            .title-grid {
                font-size: 2rem;
                color: #3a3838;
                text-transform: uppercase;
            }

            .content-grid {
                margin-top: 15px;

                .slick-track {
                    .slick-slide {
                        display: flex;
                        justify-content: center;

                        .item-grid {
                            position: relative;
                            max-width: 240px;

                            a {
                                display: flex;
                                justify-content: center;
                                width: 100%;

                                img {
                                    filter: brightness(75%);
                                }
                            }

                            .info-item-grid {
                                position: absolute;
                                bottom: 15px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                .title-item-grid {
                                    text-transform: uppercase;
                                    color: #fff;
                                    font-size: 2rem;
                                }

                                .description-grid {
                                    text-align: center;
                                    color: #fff;
                                }

                                button {
                                    &.button-grid {
                                        background-color: #fff;
                                        color: #000;
                                        padding: 5px 10px;
                                        margin-top: 10px;
                                        text-transform: uppercase;
                                        border: 0;

                                        &:hover {
                                            color: #fff;
                                            background-color: #000;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
